body {
  margin: 0;
}

canvas {
  border:3px solid #d40adb;
  background-color: white;
  margin-top: 15px;
  margin-left: 10px;
  /*background-image: url(/image/game.jpg);*/
}

#myconsole{
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  text-align:center;
  padding-top:100px
}

.play-pause-btn{
  text-align: center;
}

.play-btn{
  margin: 12px 16px 12px 22px;
  padding: 6px 8px 6px 8px ;
  background-color: blue;
  color: white;
  border: rgb(151, 184, 8);
  box-sizing: var(22px);
  border-radius: 5px;
}

.pause-btn{
  margin: 12px 16px 12px 22px;
  padding: 6px 8px 6px 8px ;
  background-color: rgb(0, 179, 68);
  color: white;
  border: rgb(151, 184, 8);
  border-radius: 5px
}